img {
  max-width: 200px;
}
.related__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.related__buttons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
